<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>MenuTube Preferences</title>
        <link rel="stylesheet" type="text/css"
              href="./../node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css"
              href="./../node_modules/bulma/css/bulma.css">
        <style>
            .container {
                padding: 20px;
            }

            .subtitle {
                letter-spacing: 0;
                text-transform: none;
            }

            #github-link:hover {
                color: #008751;
                cursor: pointer;
            }

        </style>
    </head>
    <body>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">
                        General
                    </h1>
                </div>
            </div>
        </section>
        <body>
            <section class="section">
                <div class="container">
                    <div class="heading">
                        <p class="title is-3">Always on top<span
                                class="tag is-danger is-small">Require a restart</span>
                        </p>
                        <p class="subtitle is-6">MenuTube window is above all
                            other windows, even when losing focus. You can still
                            minimise it, just click on tray icon.</p>

                    </div>
                    <p class="control">
                        <label class="radio">
                            <input value="yes" type="radio" name="alwaysOnTop"
                                   checked>
                            Yes
                        </label>
                        <label class="radio">
                            <input value="no" type="radio" name="alwaysOnTop">
                            No
                        </label>
                    </p>
                </div>
                <div class="container">
                    <div class="heading">
                        <p class="title is-3">Window position</p>
                        <p class="subtitle is-6">Choose position from tray</p>

                    </div>
                    <p class="control">
                        <label class="radio">
                            <input value="trayCenter" type="radio"
                                   name="windowPosition" checked>
                            Center
                        </label>
                        <label class="radio">
                            <input value="trayRight" type="radio"
                                   name="windowPosition">
                            Right
                        </label>
                        <label class="radio">
                            <input value="trayLeft" type="radio"
                                   name="windowPosition">
                            Left
                        </label>
                    </p>
                </div>
                <!--<div class="container">-->
                <!--<div class="heading">-->
                <!--<p class="title is-3">Open external links in browser</p>-->
                <!--<p class="subtitle is-6">All external links (except-->
                <!--google authentecation service) should be-->
                <!--open in your local browser, instead of MenuTube</p>-->
                <!--</div>-->
                <!--<p class="control">-->
                <!--<label class="radio">-->
                <!--<input value="yes" type="radio" name="externalLinks"-->
                <!--checked>-->
                <!--Yes-->
                <!--</label>-->
                <!--<label class="radio">-->
                <!--<input value="no" type="radio" name="externalLinks">-->
                <!--No-->
                <!--</label>-->
                <!--</p>-->
                <!--</div>-->
                <div class="container">
                    <div class="heading">
                        <p class="title is-3">Use media key on keyboard to stop
                            video/audio</p>
                        <p class="subtitle is-6">Manage playback with media
                            keys</p>
                    </div>
                    <p class="control">
                        <label class="radio">
                            <input value="yes" type="radio"
                                   name="globalShortcuts"
                                   checked>
                            Yes
                        </label>
                        <label class="radio">
                            <input value="no" type="radio"
                                   name="globalShortcuts">
                            No
                        </label>
                    </p>
                </div>
                <div class="container">
                    <div class="heading">
                        <p class="title is-3">Set User Agent<span
                                class="tag is-danger is-small">Require a restart</span>
                        </p>
                        <p class="subtitle is-6">Might affect how YouTube looks
                            like</p>
                    </div>
                    <p class="control">
                        <span class="select">
                            <select id="user-agent" c>
                                <option value="ipad">iPad</option>
                                <option value="iphone">iPhone</option>
                                <option value="android">Android</option>
                                <option value="desktop">Desktop</option>
                            </select>
                        </span>
                    </p>
                </div>
            </section>
            <div class="container">
                <a id="save-btn"
                   class="button is-success is-medium">Save</a>
            </div>
        </body>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        Made with ❤️
                    </p>
                    <p>
                        Open source on github
                        <span id="github-link" class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                    </p>
                    <p>
                        MenuTube (2017)
                    </p>
                </div>
            </div>
        </footer>
        <script src="./../src/preferences.js"></script>
    </body>

</html>
